.addForm {
    margin: 5% auto;
    width: 50vw;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(44, 57, 142);
    box-shadow: 8px 10px 2px 8px rgba(0, 0, 0, 0.628);

    img {
        width: 50%;
    }

    h1 {
        margin: 1rem;
        font-size: 22px;
    }

    div {
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }

    input,
    button {
        border-radius: 8px;
        height: 2.5rem;
    }

    input{
        margin: 0 auto;
        width: fit-content;
        padding: 0 1rem;
    }

    button {
        margin: 5% auto;
        width: fit-content;
        padding: .5rem 1.5rem;
        height: fit-content;
    }
}

.formulario {
    background-color: rgb(230, 230, 230);
    line-height: 5rem;
    padding: 1rem;
    text-align: center;
    margin: 1rem 5%;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    width: 25rem;
    min-height: fit-content;
    height: 100%;
    max-width: 80%;
    color: black;
    border-radius: 8px ;
    box-shadow: 8px 10px 2px 8px rgba(0, 0, 0, 0.628);
    input{
        width: 60%;
    }
    img {
        margin: 0 auto;
    }
    button {
        margin-top: 1rem;
    }
    a{
        color: rgb(40, 40, 255);
    }
}